# Flask for backend
Flask==3.0.3

# Flask-CORS for handling cross-origin requests
Flask-Cors==4.0.1

# TensorFlow and Keras for loading and running the machine learning model
tensorflow==2.13.1
keras==2.13.1
# Pillow for image processing
Pillow==10.4.0

# numpy for numerical computations
numpy==1.24.3

psycopg2-binary==2.9.9