/* Stats.css */
.stats {
    padding: 20px;
    text-align: center;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    margin-top: 140px;
}

.stats h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.stats-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    /* Flexbox for centering content vertically and horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 200px;
}

.stats-card h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.stats-card p {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}